body{
    margin: 0;
    
}

.labDiv{
        width: 500px;
        margin: 50px auto;
}

.labcard{
    padding: 10px 20px;
    box-shadow: 0 0 0 1px rgba(140, 140, 140, 0.2), 
            0 2px 3px rgba(0, 0, 0, 0.05);
           
}

/* .labcard:hover{
    background-color: rgb(206, 203, 203);
} */

.schedlink{
    text-decoration: none;     
    color: white;
    cursor: pointer;
}

.labcard button{
      background-color:  #13bef0;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    /* width: 80%; */
    border-radius: 5px;
    margin-top: 15px;
}