body{
   margin : 0
}

   .navBar{
    background-color: #fff;
      box-shadow: 0 0 0 1px rgba(140, 140, 140, 0.2), 
            0 2px 3px rgba(0, 0, 0, 0.05);
    margin-top: 0;
    padding: 20px 50px;
    display : flex;
    align-items: center;
    justify-content: space-between;
   
}

h1{
    margin: 0;
    margin-right: 200px;
}

.lablink{
    text-decoration: none;
    color: black;
    font-size: x-large;
    padding: 5px 10px;
}   

.lablink:hover{
    background-color: rgb(221, 217, 217);
    
}

.logbtn{
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid rgb(230, 225, 225);
    color:  gray
}

.outbtn{
 background-color:  transparent; 
    border: 1px solid rgb(230, 225, 225);
    padding: 10px 30px;
    color: gray;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
}